**/__pycache__/
**/.ipynb_checkpoints/
jupyter/

**/outputs/
**/checkpoints
**/logs/
**/log
**/*prototxt
**/*.pyc

ctags.sh
tags

**xtmp/
**rm.sh
predict.txt
./data
./src/dataset
./chem_data
baseline
gine_plus
pcqm4m
rdkit_summary
**/*.log

ensemble/*
!ensemble/ensemble.py
!ensemble/y_pred_pcqm4m.npz
dataset
